@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #b7e0ff;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration-style: none;
  text-decoration: none;
  color: #e78f81;
}

* {
  box-sizing: border-box;
}

.font {
  font-family: Roboto, "Times New Roman", sans-serif;
}

.hero,
.recipe-list {
  text-align: center;
}

.hero {
  margin: 0.5rem;
  color: #fff5cd;
  background-color: #e78f81;
  padding: 18px;
}

.title {
  font-size: 4rem;
}

.subtitle {
  font-size: 2rem;
}

.chef-pic {
  height: 20vh;
}

.recipe-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 1;
}

.recipe-list {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  flex: 1;
  color: #8b8c89;
  list-style: none;
  font-size: 2rem;
}

footer {
  text-align: center;
  font-size: 1.5rem;
}
